@import 'hamburgers.min.css';
.App {
  height: inherit;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/*--------------*/
html,body {
  height:100%;
  margin:0;
  padding:0;
}

#root,.wholePage{
  height: inherit;
}

.title {
  font-size:250%;
  margin-top:10%;
  color: #BDEDF6;
  text-shadow: 2px 2px #0F84AB;
  font-family: 'Love Ya Like A Sister', cursive;
}

.pointIt {
  cursor:pointer;
}

input {
  display:block;
  margin-top:5%;
  width:100%;
  /*padding:2%;*/
  font-size:130%;
}

input[type="checkbox"] {
  width:auto;
  display:inline;
  margin:1%;
}

.shareBtn {
  display:block;
  margin:1%;
}

.submitIt {
  margin:0;
  margin-top:10%;
  background-color:#0F84AB;
  color:white;
  border-radius:0px;
  padding:2% 5%;
  font-size:110%;
  cursor:pointer;
  width:100%;
}

.userImg{
  border: 1px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10% 0;
}
.sideBarIcon{
  /*background-color: yellow;*/
  /*border-right: 1px solid black;*/
  color:white;
}

.dropdownBtn{
  background: none;
  border: none;
  font-size: 30px;
  float: right;
}

.addDocBtn{
  float: right;
  color:#0F84AB;
  z-index:2;
}

.navBtn{
  margin-top: 15px;
  font-size: 2em;
  border: none;
  margin-left: 1%;
  color:#0F84AB;
  background: none;
}

.headerDiv{
  padding-bottom: 1%;
  border-bottom: 2px solid #0F84AB;
  width:100%;
}

.headerStyle {
  font-size:280%;
  margin-top:1%;
  color: #BDEDF6;
  text-shadow: 2px 2px #0F84AB;
  font-family: 'Love Ya Like A Sister', cursive;
}

.folderStructure {
  background-color: #0F84AB;
}
.hamburger{
  font-size: 25px;
  display: none;
}

.sideBarSizeDef {
      padding: 0;
      height:100%;
      background-color:#0F84AB;
      position: fixed;
      width:250px;
      z-index: 1;
      /*border-right: 1px solid white;*/
}

.folderHeader {
    width: 80%;
    padding-left: 10%;
    font-size: 130%;
    color:white;
}

.fileTitle{
    width: 80%;
    margin-left: 25%;
    font-size: 110%;
    color:white;
    margin-bottom:5%;
}

.mainContent {
  width:auto;
  margin-right:0;
  margin-left:250px;
  overflow:auto;
}

/*------Drop Down Value---------*/
.dropDownIcon {
  list-style: none;
  text-align:left;
  background-color:white;
  color:#0F84AB;
  padding: 0;
  width:90%;
  position:absolute;
  top:5%;
  right:0;
  border:1px solid #0F84AB;
  border-radius:5px;
}

.listItem {
  padding:1%;
  font-size:125%;
  border-bottom:1px solid #0F84AB;
  cursor:pointer;
}

.lastItem {
  border-top:1px solid #0F84AB;
  border-bottom:0;
}

.hidden {
  display:none;
}

.nameOfUser {
  color:white;
  font-size:180%;
  margin-left:10%;
  font-family: 'Raleway', sans-serif;
}

.btnFull {
  width:80%;
}

.paddingForEdit {
  padding:3%;
  margin:2%;
}

select {
  width:80%;
  margin-left:25px;
}

.badPadding {
  padding:0;
}
/*-------Notes----------*/
.myPens{
    top: 20px;
    font-size: 200%;
    left: 30px;
    font-family: 'Raleway', sans-serif;
    color:#0F84AB;
    text-shadow: 2px 2px #CCCCCC;
}

.noteList {
  margin-top:3%;
  margin-left:7%;
}

.noteSection{
  margin: 0 auto;
  text-align: center;
}

.newNoteTitle {
  color:gray;
  text-align:left;
  padding-left:25%;
  padding-top:1%;
  font-size:120%;
}

.closeNote {
  position:absolute;
}

.textAreaSection {
  font-size:120%;
  width:100%;
}

.noteTitleSection {
  width:100%;
  margin: 10px 0;
}

/*-------Note Icon--------*/
.userDocument {
  border:1px solid #555555;
  overflow:hidden;
  float:left;
  width:170px;
  height:220px;
  margin:2%;
  padding:1%;
  box-shadow:10px 10px #CCCCCC;
  font-size:11px;
}


/*-----Landing Page---------*/
.landingFirst {
  height:100%;
}

.landingSecond {
  background-color: #0F84AB;
  height:100%;
}

/*-------Footer-------------*/
.footer{
  margin:0;
  padding:0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e1dfdf;
  text-align: center;
  margin-top: 50%;
  left:0;
}

.footer p{
  margin-left : 250px;
  margin-bottom: 0;
}

/*----Profile Picture-----*/
.uploadImage {
  width:100%;
  font-size: 0px;
}

@media only screen and (max-width: 768px){
 .sideBarSizeDef{
   height: 100vh;
   width: 0px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #0F84AB;
   overflow-x: hidden;
   transition: 0.7s;
   display: block;
 }

 .hamburger{
   display: flex;
   justify-content: flex-end;
   cursor: pointer;
 }
 .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
   background: #0F84AB;
 }
 .mainContent{
   margin-left: 0;
 }
 .footer p{
  margin-left: 0;
  font-size: 10px;
 }
}

@media screen and (max-width: 398px){
  .noteList{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .userDocument{
    margin: 10px;
  }
}